<div class="ps-page--simple">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li><a [routerLink]="['/all-product']">Cửa hàng</a></li>
                <li>Giỏ hàng</li>
            </ul>
        </div>
    </div>
    <div class="ps-section--shopping ps-shopping-cart">
        <div class="container" style="min-width: 1800px !important;">
            <div class="ps-section__header">
                <h1>Giỏ Hàng</h1>
            </div>
            <div class="ps-section__content">
                <div class="table-responsive" *ngIf="cartDetails.length>0">
                    <table class="table ps-table--shopping-cart ps-table--responsive">
                        <thead>
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Sản phẩm</th>
                                <th>Giá gốc</th>
                                <th>Ưu đãi hiện tại</th>
                                <th>Giá ưu đãi</th>
                                <th>Số lượng tạm còn</th>
                                <th>Số lượng hiện đặt</th>
                                <th>Trạng thái hiện tại</th>
                                <th>Tổng tiền</th>
                                <th>Hủy</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cartDetails, index as i">
                                <td>{{i+1}}</td>
                                <td data-label="Product">
                                    <div class="ps-product--cart">
                                        <div class="ps-product__thumbnail">
                                            <a [routerLink]="['/product-detail/'+item.product.productId]">
                                            <img [src]="item.product.image" alt="" /></a>
                                        </div>
                                        <div class="ps-product__content">
                                            <a [routerLink]="['/product-detail/'+item.product.productId]">{{item.product.name}}</a>
                                            <p>Thể loại:<strong> {{item.product.category.categoryName}}</strong></p>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center;" class="price" data-label="Price">
                                    {{item.product.price |  number}}đ
                                </td>
                                <td style="text-align: center;" class="price" data-label="Price">
                                    {{item.product.discount|  number}}%
                                </td>
                                <td style="text-align: center;" class="price" data-label="Price">
                                    {{item.product.price*(1 - item.product.discount/100) |  number}}đ
                                </td>
                                <td style="text-align: center;" class="price" data-label="Price" [ngClass]="{'textAlert' : item.product.quantity - item.quantity == 0}">
                                    {{item.product.quantity - item.quantity|  number}}
                                </td>
                                <td data-label="Quantity" style="text-align: center;">
                                    <input style="text-align: center;"
                                    type="number" min="1"
                                    [value]="item.quantity"
                                    placeholder="0" name="quantity"
                                    [(ngModel)]="item.quantity"
                                    (change)="update(item.cartDetailId, item.quantity)" />
                                </td>
                                <td style="text-align: center;" data-label="Status">
                                    <span class="ps-tag ps-tag--in-stock" [ngClass]="{'span-disabled': item.product.status === false}">{{item.product.status === false ? 'Tạm thời hết hàng': 'Còn hàng'}}</span>
                                </td>
                                <td style="text-align: center;" data-label="Total">
                                    {{item.price |  number}}đ
                                </td>
                                <td style="text-align: center;" data-label="Actions">
                                    <a href="javascript:void(0);" (click)="delete(item.cartDetailId, item.quantity)"><i class="icon-cross"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-5 mb-5" *ngIf="cartDetails.length==0">
                    <div class="col-8 offset-2 text-center">
                        <h2 style="color: #cca3a3;">Giỏ hàng trống</h2>
                        <h2 style="color: #cca3a3;;">Hãy chọn 1 vài sản phẩm vào giỏ hàng của bạn.</h2>
                    </div>
                </div>
                <div class="ps-section__cart-actions">
                    <a class="ps-btn" [routerLink]="['/all-product']">
                    <i class="icon-arrow-left"></i> Quay lại cửa hàng</a>
                </div>
            </div>

            <div class="ps-section__footer" *ngIf="cartDetails.length>0">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-12 ">
                        <div class="ps-block--shopping-total">
                            <div class="ps-block__header">
                                <h4 class="title">Thống kê tiền hàng</h4>
                            </div>
                            <div class="ps-block__header">
                                <p>Tổng tiền với giá gốc <span> {{amountReal |  number}}đ</span></p>
                                <p>Số tiền tiết kiệm được <span> {{discount |  number}}đ</span></p>
                            </div>
                            <div class="ps-block__content">
                                <h3>Tổng tiền phải thanh toán <span> {{amount |  number}}đ</span></h3>
                            </div>
                        </div><a [ngClass]="{'disabled-link': amount <= 0}" class="ps-btn ps-btn--fullwidth" [routerLink]="['/checkout']">Tiến hành đặt hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
