<div class="ps-breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a [routerLink]="['/home']">Trang chủ</a></li>
            <li>Giới thiệu</li>
        </ul>
    </div>
</div>
<div class="ps-page--single" id="about-us"><img src="img/Giang's Ecommerce_Logo_Cover.jpg" alt="" style="width: 100%; height: 80%; object-fit: cover; display: block; margin: 0 auto;">
    <div class="ps-about-intro">
        <div class="container">
            <div class="ps-section__header">
                <h4>Chào mừng đến với Giang's Ecommerce</h4>
                <h3>Chúng tôi kết nối hàng triệu người mua và người bán trên khắp thế giới, trao quyền cho mọi người và tạo cơ hội kinh tế cho tất cả mọi người.</h3>
                <p>Trong thị trường của chúng tôi, hàng triệu người trên khắp thế giới kết nối, cả trực tuyến và ngoại tuyến, để tạo, bán và mua hàng hóa độc đáo. Chúng tôi cũng cung cấp một loạt các Dịch vụ dành cho Người bán và các công cụ giúp các doanh nhân sáng tạo bắt đầu, quản lý và mở rộng quy mô kinh doanh của họ. Sứ mệnh của chúng tôi là hình dung lại thương mại theo những cách thức xây dựng một thế giới lâu dài và trọn vẹn hơn, đồng thời chúng tôi cam kết sử dụng sức mạnh kinh doanh để củng cố cộng đồng và trao quyền cho mọi người.</p>
            </div>
        </div>
    </div>  
</div>
