<footer class="ps-footer">
    <div class="ps-container" style="padding: 0 0px !important; max-width: none !important; background: #332f35;">        
        <div class="ps-footer__links" style="padding: 30px;">
            <p><strong style="color: #fff !important;">Điện tử gia dụng:</strong><a style="color: #a198a9 !important;" [routerLink]="['/by-category/3']" (click)="reloadPage()">Nồi cơm điện</a><a style="color: #a198a9 !important;" [routerLink]="['/by-category/3']" (click)="reloadPage()">Máy xay &amp; Máy ép</a><a style="color: #a198a9 !important;" [routerLink]="['/by-category/3']" (click)="reloadPage()">Nồi chiên không dầu</a><a style="color: #a198a9 !important;" [routerLink]="['/by-category/3']" (click)="reloadPage()">Ấm đun siêu tốc</a><a style="color: #a198a9 !important;" [routerLink]="['/by-category/3']" (click)="reloadPage()">Bàn là</a><a style="color: #a198a9 !important;" [routerLink]="['/by-category/3']" (click)="reloadPage()">Quạt &amp; Điều hòa</a>
            </p>
            <p><strong style="color: #fff !important;">Trang sức &amp; Đồng hồ:</strong><a style="color: #a198a9 !important;" [routerLink]="['/by-category/4']" (click)="reloadPage()">Đồng hồ điện tử</a><a style="color: #a198a9 !important;" [routerLink]="['/by-category/4']" (click)="reloadPage()">Đồng hồ cơ học</a><a style="color: #a198a9 !important;" [routerLink]="['/by-category/4']" (click)="reloadPage()">Đồng hồ sức khỏe</a>
            </p>
            <p><strong style="color: #fff !important;">Điện tử công nghệ:</strong><a style="color: #a198a9 !important;" [routerLink]="['/by-category/5']" (click)="reloadPage()">Tivi thông minh &amp; Màn hình máy tính</a><a style="color: #a198a9 !important;" [routerLink]="['/by-category/2']" (click)="reloadPage()">PC Gaming &amp; Laptop Gaming</a><a style="color: #a198a9 !important;" [routerLink]="['/by-category/2']" (click)="reloadPage()">PC Office &amp; Laptop Office</a><a style="color: #a198a9 !important;" [routerLink]="['/by-category/1']" (click)="reloadPage()">Điện thoại cảm ứng</a>
            </p>
        </div>
        <div class="ps-footer__copyright" style="padding: 30px 30px 10px 30px !important; position: relative; background: #27232a;">
            <div class="ps-footer__widgets">
                <aside class="widget widget_footer widget_contact-us">
                    <h4 style="color: #a198a9 !important;" class="widget-title">Thông tin liên hệ Admin Giang's Ecommerce</h4>
                    <div class="widget_content">
                        <h3>Hệ thống chăm sóc khách hàng 24/7</h3>
                        <h3><p style="color: #a198a9 !important;">Đường dây hotline:</p>(+84) 97 902 2704</h3>
                        <p style="color: #a198a9 !important;">Email: zagkun2k@gmail.com</p>
                        <p style="color: #a198a9 !important;">01 Đỗ Xuân Hợp, Phước Long B, Tp.Thủ Đức, TP.Hồ Chí Minh</p>
                        <ul class="ps-list--social">
                            <li><a class="facebook" href="https://www.facebook.com/kunxumita/"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="instagram" href="https://www.instagram.com/_young.pippp_/"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div style="display: flex; justify-content: center;">
                <div style="position: absolute; left: 40%; bottom: 6%; font-size: large; color: #fff;">&copy; 2023 Giang's Ecommerce. Đã đăng kí bản quyền</div>
            </div>
        </div>
    </div>
</footer>