<div class="ps-page--simple">
    <div class="ps-breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a [routerLink]="['/home']">Trang chủ</a></li>
                <li><a [routerLink]="['/all-product']">Cửa hàng</a></li>
                <li>Danh sách yêu thích</li>
            </ul>
        </div>
    </div>
    <div class="ps-section--shopping ps-whishlist">
        <div class="container" style="min-width: 1500px !important;">
            <div class="ps-section__header">
                <h1>Danh sách yêu thích</h1>
            </div>
            <div class="col-lg-12 text-center m-5" *ngIf="favorites.length < 1">
                <h2 style="color: #cca3a3;">Không có sản phẩm nào trong danh sách yêu thích của bạn</h2>
            </div>
            <div class="ps-section__content">
                <div class="table-responsive" *ngIf="favorites.length > 0">
                    <table class="table ps-table--whishlist ps-table--responsive">
                        <thead>
                            <tr>
                                <th>Số thự tự</th>
                                <th>Sản phẩm</th>
                                <th>Tên</th>
                                <th>Giá gốc</th>
                                <th>Ưu đãi hiện tại</th>
                                <th>Giá ưu đãi</th>
                                <!-- <th>Số lượng tạm còn</th>
                                <th>Số lượng đã đặt</th> -->
                                <th>Trạng thái hiện tại</th>
                                <th>Thêm vào giỏ hàng</th>
                                <th>Hủy</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of favorites | paginate: { itemsPerPage: 5, currentPage: page}, index as i">
                                <td>{{i+1}}</td>
                                <td style="text-align: center;" data-label="Product">
                                    <div class="ps-product--cart">
                                        <div class="ps-product__thumbnail">
                                            <a [routerLink]="['/product-detail/'+item.product.productId]">
                                                <img [src]="item.product.image" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center;" data-label="Product">
                                    <div class="ps-product--cart">
                                        <div class="ps-product__content">
                                            <a [routerLink]="['/product-detail/'+item.product.productId]">{{item.product.name}}</a>
                                            <p>Thể loại:<strong> {{item.product.category.categoryName}}</strong></p>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align: center;" class="price" data-label="Price">
                                    {{item.product.price |  number}}đ
                                </td>
                                <td style="text-align: center;" class="price" data-label="Price">
                                    {{item.product.discount |  number}}%
                                </td>
                                <td style="text-align: center;" class="price" data-label="Price">
                                    {{item.product.price*(1 - item.product.discount/100) |  number}}đ
                                </td>
                                <!-- <td style="text-align: center;" class="price" data-label="Price">
                                    {{getTempQuantityProduct(item.product.productId) |  number}}
                                </td>
                                <td style="text-align: center;" class="price" data-label="Price">
                                    {{getAddedQuantityProduct(item.product.productId) |  number}}
                                </td> -->
                                <td style="text-align: center;" data-label="Status">
                                    <span class="ps-tag ps-tag--in-stock" [ngClass]="{'span-disabled': item.product.status === false}">{{item.product.status === false ? 'Tạm thời hết hàng': 'Còn hàng'}}</span>
                                </td>
                                <td style="text-align: center;" data-label="action">
                                    <button class="ps-btn" [ngClass]="{'disabled-button': item.product.status === false}" (click)="addCart(item.product.productId, item.product.price*(1 - item.product.discount/100))" [disabled]="item.product.status === false">{{item.product.status === true ? "Thêm vào giỏ hàng" : "Tạm thời hết hàng"}}</button>
                                </td>
                                <td style="text-align: center;" data-label="Remove">
                                    <a href="javascript:void(0);" (click)="delete(item.favoriteId, item.product.name)">
                                        <i class="icon-cross"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row" style="padding-top: 50px">
                        <div class="col-lg-12">
                            <ul>
                                <pagination-controls
                                    (pageChange)="page = $event"
                                    previousLabel=""
                                    nextLabel=""
                                    class="text-center my-page">
                                </pagination-controls>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
