<div class="ps-page--404">
    <div class="container">
        <div class="ps-section__content"><img src="img/404.jpg" alt="">
            <h3>Không tìm thấy trang</h3>
            <p>Trông có vẻ như không có thứ bạn đang tìm tại trang web chúng tôi. Vui lòng xác minh lại thông tin hoặc liên hệ hỗ trợ với chúng tôi qua hotline bên dưới<a [routerLink]="['/home']"> Trang chủ</a></p>
            <form class="ps-form--widget-search">
                <input class="form-control" type="text" placeholder="Search...">
                <button><i class="icon-magnifier"></i></button>
            </form>
        </div>
    </div>
</div>
